# Node modules
node_modules/

# Compiled output
dist/


# TypeScript cache
*.tsbuildinfo

# Logs
*.log

# Environment files
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.vscode/
.idea/